@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

body {
    font-family: 'EB Garamond', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    /* ... (other styles) */
}

header {
    background: #333;
    color: #fff;
    padding: 0.5rem 0; /* Reduce padding (adjust as needed) */
    text-align: center;
}

header h1 {
    font-size: 1.5rem; /* Reduce font size (adjust as needed) */
}

header nav {
    margin-left: 50%; /* Push the navigation to the right side */
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    border-bottom: 1px solid #ddd;
    border-bottom: 0px;
    max-width: 1600px;
    margin: 100px;
}

#about {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1000px;
    height: 500px;
    margin: auto;
    padding: 30px;
    background: #d4fdf2;
    border-radius: 50px;
}

.alignment {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

#headshot-image {
    max-width: 100%;
    height: auto;
    margin-right: 20px; /* Adjust the margin as needed */
    padding-left: 100px;
    border-radius: 50%;
}

.headline {
    text-align: left;
}

#headshot h2 {
    text-align: center;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}

.quick-intro p {
    margin: 0;
}

footer {
    display: flex;
    text-align: center;
    padding: 0.5rem 0;
    background: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
}

#sticky-footer {
    padding: 0.5rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #333;
    color: #fff;
    padding: 0;
    text-align: center;
}
