@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    font-family: 'EB Garamond', Arial, sans-serif; /* Updated font stack */
}

header {
    background: #333;
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
}

header h1 {
    font-size: 1.5rem; /* Consider using 'em' or 'rem' */
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Flexbox for better alignment */
    justify-content: center; /* Center items */
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    max-width: 1600px;
    margin: auto; /* Centered section */
    padding: 1rem; /* Added padding */
}

#headshot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #f0fffb;
}

#headshot-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.headline {
    text-align: left;
}

#headshot h2 {
    font-size: 2rem; /* Responsive font size */
}

footer {
    text-align: center;
    padding: 0.5rem 0;
    background: #333;
    color: #fff;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.project-box {
    width: calc(30% - 20px);
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ddd;
    margin: 10px;
    position: relative;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-box:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column; /* Stack nav items vertically */
    }

    .project-box {
        width: 100%; /* Full width for smaller screens */
    }

    #headshot h2 {
        font-size: 1.5rem; /* Smaller font size for smaller screens */
    }
}

@media (max-width: 600px) {
    .project-box {
        width: 100%; /* Adjust for very small screens */
    }
}

@media (max-width: 800px) and (orientation: landscape) {
    #contact {
        margin-bottom: 60px;
    }
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #333;
    color: #fff;
    padding: 0;
    text-align: center;
}

